In [11]:
import sqlite3
from sqlalchemy import create_engine
import pandas as pd
import pymysql

In [20]:
def get_conn():
    try:
        conn = sqlite3.connect("strive.db")
        return conn
    except Exception as ex:
        return ex

In [21]:
def get_remote_conn(user, pas, IP, port):
    try:
        engine = create_engine("mysql+pymysql://{}:{}@{}/{}?host={}?port={}").format(user,pas,IP,user,IP,port)
        conn = engine.connect()
        return conn
    except Exception as ex:
        print(ex)
        return ex

In [13]:
sentence = """CREATE TABLE IF NOT EXISTS student(
                                        name varchar(20) NOT NULL,
                                        surname varchar(20) NOT NULL DEFAULT 'a',
                                        id int NOT NULL,
                                        country varchar(20),
                                        city varchar(20),
                                        CONSTRAINT pk PRIMARY KEY(id),
                                        CONSTRAINT fk FOREIGN KEY(id) REFERENCES projects(st) ON UPDATE CASCADE
                                    )"""

In [ ]:
CREATE TABLE IF NOT EXISTS student (
                                    name varchar(20) NOT NULL,
                                    surname varchar(20) NOT NULL DEFAULT 'a',
                                    id int NOT NULL,
                                    country varchar(20),
                                    city varchar(20),
                                    CONSTRAINT pk PRIMARY KEY(id),
                                    CONSTRAINT fk FOREIGN KEY(id) REFERENCES projects(st) ON UPDATE CASCADE
                                );

In [14]:
def sql_exectue(sentence):
    try:
        c = get_conn().cursor()
        a = c.execute(sentence)
        print(a)
    except Exception as ex:
        print(ex)
        return ex

In [17]:
def pd_execute(sentence):
    
    try:
        df = pd.read_sql_query(sentence, get_conn())
        return df
    except Exception as ex:
        print(ex)
        return ex

In [18]:
def pd_upload_csv(name : str, pth, head = 0):
    
    try:
        df = pd.read_csv(pth, header = head)
        frame = df.to_sql(name, get_conn(), if_exists = 'replace')
        return frame
    except Exception as ex:
        print(ex)
        return ex

In [ ]:
#live coding below for sql interface

In [ ]:
import sqlite3    # use sqlite for local projects
import pandas as pd

conn = sqlite.connect("strive.db")


conn = ""
try:
    conn = sqlite.connect("strive.db")
except Exception as ex:
    print(ex)

In [ ]:
# stc = sentence
def sql_query(stc):
    try:
        
        c = conn.cursor()
        reply = c.execute(stc)
        conn.commit()
    except Exception as ex:
        print(ex)

In [1]:
def pandas_select(stc):
    
    try:
        if stc.split()[0].lower() == "select":
            df = pd.read_sql_query(stc, conn)
            return df
        else:
            return pd.DataFrame()
    except Exception as ex:
        return pd.DataFrame()

In [ ]:
def upload_data(name : str, path, head = 0)
    try:
        df = pd.read_csv(path)
        frame = df.to_sql(name, conn, if_exist = 'append')
    except Exception as ex:
        print(ex)

In [6]:
# live coding for data tables

In [7]:
import sql_interface as sql
import sqlite3
import pandas as pd


create_student_table = """CREATE TABLE student(
                            name char(20) NOT NULL,
                            surname char(20) NOT NULL,
                            id int NOT NULL PRIMARY KEY,
                            country char(20),
                            FOREIGN KEY(id) REFERENCES projects (st)
                            );
                            """

ModuleNotFoundError: No module named 'sql_interface'

In [ ]:
create_student = """INSERT INTO 
                    student(name, surname, id)
                    VALUES('tobias', 'schulz', 00);
                    """

select = "SELECT * FROM student"

drop_table = "DROP TABLE student"

add_pk = "ALTER TABLE students ADD PRIMARY KEY(id)"

sql.sql_query(add_pk)


print(sql.sql_query(create_student_table))

print(sql.sql_query(create_student))
    
print(sql.pandas_select(select))