# Practice notebook for confidence intervals using NHANES data

This notebook will give you the opportunity to practice working with confidence intervals using the NHANES data.

You can enter your code into the cells that say "enter your code here", and you can type responses to the questions into the cells that say "Type Markdown and Latex".

Note that most of the code that you will need to write below is very similar to code that appears in the case study notebook.  You will need to edit code from that notebook in small ways to adapt it to the prompts below.

To get started, we will use the same module imports and read the data in the same way as we did in the case study:

In [66]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm

da = pd.read_csv("nhanes_2015_2016.csv")
da

da = da[(da['RIDAGEYR'] >35) & (da['RIDAGEYR'] <50)]      # only ages between 35 and 50
da = da.loc[(da.RIAGENDR == 2), :]                        # only women
da["RIAGENDR"] = da.RIAGENDR.replace({1: "Male", 2: "Female"})   # change values, to make gender easier to read

da["DMDMARTL"] = da.DMDMARTL.replace({1: "Married", 2: "Not", 3: "Not", 4: "Not", 5: "Not", 6: "Not", 77: np.nan, 99: np.nan})
da["DMDEDUC2"] = da.DMDEDUC2.replace({1: "No", 2: "No", 3: "No", 4: "Graduated", 5: "Graduated",  7: np.nan, 9: np.nan})

dx = da[["DMDMARTL", "RIAGENDR", "DMDEDUC2"]].dropna()
dx

p_college = dx.groupby("DMDMARTL")["DMDEDUC2"].agg([lambda z: np.mean(z == "Graduated"), lambda z: np.mean(z == "No"), "size"])
p_college.columns = ["College", "Not College", "N"]

p_college

           College  Not College    N
DMDMARTL
Married   0.676020     0.323980  392
Not       0.562092     0.437908  306

In [65]:
da = pd.read_csv("nhanes_2015_2016.csv")
da

da = da[(da['RIDAGEYR'] >35) & (da['RIDAGEYR'] <50)]      # only ages between 35 and 50
da = da.loc[(da.RIAGENDR == 2), :]                        # only women
da["RIAGENDR"] = da.RIAGENDR.replace({1: "Male", 2: "Female"})   # change values, to make gender easier to read

da["DMDMARTL"] = da.DMDMARTL.replace({1: "Married", 2: "Not", 3: "Not", 4: "Not", 5: "Not", 6: "Not", 77: np.nan, 99: np.nan})
da["DMDEDUC2"] = da.DMDEDUC2.replace({1: "No", 2: "No", 3: "No", 4: "Graduated", 5: "Graduated",  7: np.nan, 9: np.nan})

dx = da[["DMDMARTL", "RIAGENDR", "DMDEDUC2"]].dropna()
dx

#p_college = dx.groupby("DMDMARTL")["DMDEDUC2"].agg([lambda z: np.mean(z>=4.0), lambda z: np.mean(z<=3.0), "size"])
p_college = dx.groupby("DMDMARTL")["DMDEDUC2"].agg([lambda z: np.mean(z == "Graduated"), lambda z: np.mean(z == "No"), "size"])
p_college.columns = ["College", "Not College", "N"]

p_college

           College  Not College    N
DMDMARTL
Married   0.676020     0.323980  392
Not       0.562092     0.437908  306

## Question 1

Restrict the sample to women between 35 and 50, then use the marital status variable [DMDMARTL](https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/DEMO_I.htm#DMDMARTL) to partition this sample into two groups - women who are currently married, and women who are not currently married.  Within each of these groups, calculate the proportion of women who have completed college.  Calculate 95% confidence intervals for each of these proportions.

In [33]:
da = da[(da['RIDAGEYR'] >35) & (da['RIDAGEYR'] <50)]      # only ages between 35 and 50
da = da.loc[(da.RIAGENDR == 2), :]                        # only women
da["RIAGENDR"] = da.RIAGENDR.replace({1: "Male", 2: "Female"})   # change values, to make gender easier to read
da["DMDMARTL"] = da.DMDMARTL.replace({1: "Married", 2: "Not", 3: "Not", 4: "Not", 5: "Not", 6: "Not", 77: np.nan, 99: np.nan})
da["DMDEDUC2"] = da.DMDEDUC2.replace({1: "No", 2: "No", 3: "No", 4: "Graduated", 5: "Graduated",  7: np.nan, 9: np.nan})
#dx = da.groupby(da.DMDEDUC2).agg({"DMDEDUC2": [lambda x: np.mean(x=="Graduated"), np.size]})
dx = da.groupby(['DMDMARTL','DMDEDUC2']).agg([lambda z: np.mean(z>=4.0), lambda z: np.mean(z<=3.0), "size"])
dx

                         SEQN                     ALQ101                  \
                   <lambda_0> <lambda_1> size <lambda_0> <lambda_1> size
DMDMARTL DMDEDUC2
Married  Graduated          1          0  265        0.0   0.837736  265
         No                 1          0  127        0.0   0.811024  127
Not      Graduated          1          0  172        0.0   0.906977  172
         No                 1          0  134        0.0   0.917910  134

                       ALQ110                     ALQ130  ... BMXARML  \
                   <lambda_0> <lambda_1> size <lambda_0>  ...    size
DMDMARTL DMDEDUC2                                         ...
Married  Graduated        0.0   0.347170  265   0.064151  ...     265
         No               0.0   0.488189  127   0.047244  ...     127
Not      Graduated        0.0   0.308140  172   0.081395  ...     172
         No               0.0   0.432836  134   0.134328  ...     134

                      BMXARMC                   BMXWAIST                  \
                   <lambda_0> <lambda_1> size <lambda_0> <lambda_1> size
DMDMARTL DMDEDUC2
Married  Graduated   0.939623        0.0  265   0.932075        0.0  265
         No          0.929134        0.0  127   0.889764        0.0  127
Not      Graduated   0.936047        0.0  172   0.930233        0.0  172
         No          0.932836        0.0  134   0.917910        0.0  134

                       HIQ210
                   <lambda_0> <lambda_1> size
DMDMARTL DMDEDUC2
Married  Graduated   0.000000   0.890566  265
         No          0.000000   0.637795  127
Not      Graduated   0.000000   0.848837  172
         No          0.007463   0.634328  134

[4 rows x 75 columns]

In [4]:
#dr = da[(da['RIDAGEYR'] >35) & (da['RIDAGEYR'] <50)]     # get all ages
#drs = dr
#drs

In [5]:
#dw = dr.loc[(da.RIAGENDR == 2), :]                # get all women
#dw

In [6]:
#dw["RIAGENDR"] = dw.RIAGENDR.replace({1: "Male", 2: "Female"})
#dw

In [7]:
#dw["DMDMARTL"] = dw.DMDMARTL.replace({1: "Married", 2: "Not", 3: "Not", 4: "Not", 5: "Not", 6: "Not", 77: np.nan, 99: np.nan})

In [8]:
#dw["DMDEDUC2"] = dw.DMDEDUC2.replace({1: "No", 2: "No", 3: "No", 4: "Graduated", 5: "Graduated",  7: np.nan, 9: np.nan})
#dw

In [9]:
#dw = dw[["RIAGENDR", "DMDMARTL", "DMDEDUC2"]].dropna()
#dw

In [10]:
#dx = dw[["DMDMARTL", "DMDEDUC2"]].dropna()
#dx

In [11]:
#de = dw.groupby(dw.DMDEDUC2).agg({"DMDEDUC2": [lambda x: np.mean(x=="Graduated"), np.size]})
#de

In [12]:
#sm.stats.proportion_confint(437, 437+261)

In [13]:
#dm = dw.groupby(dw.DMDMARTL).agg({"DMDMARTL": [lambda x: np.mean(x=="Married"), np.size]})
#dm

In [14]:
#sm.stats.proportion_confint(392, 392+306)

__Q1a.__ Identify which of the two confidence intervals is wider, and explain why this is the case.

__Q1b.__ Write 1-2 sentences summarizing these findings for an audience that does not know what a confidence interval is (the goal here is to report the substance of what you learned about how marital status and educational attainment are related, not to teach a person what a confidence interval is).

## Question 2

Construct 95% confidence intervals for the proportion of smokers who are female, and for the proportion of smokers who are male.  Then construct a 95% confidence interval for the difference between these proportions.

In [ ]:
# enter your code here

__Q2a.__ Discuss why it may be relevant to report the proportions of smokers who are female and male, and contrast this to reporting the proportions of males and females who smoke.

__Q2b.__ How does the width of the confidence interval for the difference of the two proportions compare to the widths of the confidence intervals for each proportion separately?

## Question 3

Construct a 95% interval for height ([BMXHT](https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/BMX_I.htm#BMXHT)) in centimeters.  Then convert height from centimeters to inches by dividing by 2.54, and construct a 95% confidence interval for height in inches.  Finally, convert the endpoints (the lower and upper confidence limits) of the confidence interval from inches to back to centimeters

In [ ]:
# enter your code here

__Q3a.__ Describe how the confidence interval constructed in centimeters relates to the confidence interval constructed in inches.

## Question 4

Partition the sample based on 10-year age bands, i.e. the resulting groups will consist of people with ages from 18-28, 29-38, etc. Construct 95% confidence intervals for the difference between the mean BMI for females and for males within each age band.

In [ ]:
# enter your code here

__Q4a.__ How do the widths of these confidence intervals differ?  Provide an explanation for any substantial diferences in the confidence interval widths that you see.

## Question 5

Construct a 95% confidence interval for the first and second systolic blood pressure measures, and for the difference between the first and second systolic blood pressure measurements within a subject.

In [ ]:
# enter code here

__Q5a.__ Based on these confidence intervals, would you say that a difference of zero between the population mean values of the first and second systolic blood pressure measures is consistent with the data?


__Q5b.__ Discuss how the width of the confidence interval for the within-subject difference compares to the widths of the confidence intervals for the first and second measures.

## Question 6

Construct a 95% confidence interval for the mean difference between the average age of a smoker, and the average age of a non-smoker.

In [ ]:
# insert your code here

__Q6a.__ Use graphical and numerical techniques to compare the variation in the ages of smokers to the variation in the ages of non-smokers.

In [1]:
# insert your code here

__Q6b.__ Does it appear that uncertainty about the mean age of smokers, or uncertainty about the mean age of non-smokers contributed more to the uncertainty for the mean difference that we are focusing on here?